{% extends 'base.html' %}

{% block title %}
CloudVault Home
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>
            CloudVault Storage Platform
        </h1>

        <p>
            Upload, manage and access files
            securely using AWS S3 cloud storage.
        </p>

        <div class="hero-buttons">

            <a
                href="{{ url_for('dashboard') }}"
                class="btn-primary">

                Open Dashboard

            </a>

            <a
                href="{{ url_for('settings') }}"
                class="btn-secondary">

                Settings

            </a>

        </div>

    </div>

</section>

<section class="cards">

    <div class="card">

        <h2>
            Secure Storage
        </h2>

        <p>
            Store files safely using AWS S3.
        </p>

    </div>

    <div class="card">

        <h2>
            File Management
        </h2>

        <p>
            Upload, preview and delete files.
        </p>

    </div>

    <div class="card">

        <h2>
            Cloud Native
        </h2>

        <p>
            Built using Flask and AWS.
        </p>

    </div>

</section>

{% endblock %}