[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = false
remote_user = ec2-user
roles_path = roles
private_key_file = ~/.ssh/CloudVault-CICD.pem

[inventory]
enable_plugins = amazon.aws.aws_ec2